body{
    margin: 0;
    background-color: rgb(223, 218, 218);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: black 4px 4px 6px;
}

header {

margin-top: -22px;
width: 100%;
height: 110px;
background-color: rgb(88, 85, 85);
}

h1{
    font-size:xx-large;
    position: absolute;
    margin-top: 27px;
    margin-left: 37%;
    color: rgb(255, 253, 250);
    text-shadow: 3px 3px 7px black;
}


.container {
    position: relative;
    width: 320px;
    margin: 60px auto 0 auto;
    perspective: 900px;
}

.carrossel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 30s infinite forwards linear;
}

.imagem {
    position: absolute;
    width: 290px;
    height: 187px;
    top: 26px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset  0 0 0 2000px rgba(128, 128, 128, 0.5);
    display: flex;
    box-shadow: rgb(34, 57, 230) 2px 2px 2px 2px;
    border-radius: 20px;

}

.imagem span {
    margin: auto;
    font-size: 1em;
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
        
    }

}

.imagem:nth-child(1) {
background-image: url(https://images.pexels.com/photos/1432675/pexels-photo-1432675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
transform: rotateY(0deg) translateZ(430px);
}

.imagem:nth-child(2) {
    background-image: url(https://images.pexels.com/photos/2582932/pexels-photo-2582932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    transform: rotateY(40deg) translateZ(430px);
}

.imagem:nth-child(3) {
    background-image: url(https://images.pexels.com/photos/8622911/pexels-photo-8622911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    transform: rotateY(80deg) translateZ(430px);
}

.imagem:nth-child(4) {
    background-image: url(https://image.shutterstock.com/mosaic_250/196626674/2224456087/stock-photo-water-cooled-gaming-pc-with-rgb-rainbow-led-lighting-modern-gaming-computer-with-a-keyboard-in-a-2224456087.jpg);
    transform: rotateY(120deg) translateZ(430px);
}
.imagem:nth-child(5) {
    background-image: url(https://images.pexels.com/photos/2225617/pexels-photo-2225617.jpeg?auto=compress&cs=tinysrgb&w=600);
    transform: rotateY(160deg) translateZ(430px);
}

.imagem:nth-child(6) {
    background-image: url(https://images.pexels.com/photos/2115256/pexels-photo-2115256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    transform: rotateY(200deg) translateZ(430px);
}

.imagem:nth-child(7) {
    background-image: url(https://images.pexels.com/photos/841228/pexels-photo-841228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    transform: rotateY(240deg) translateZ(430px);
}

.imagem:nth-child(8) {
    background-image: url(https://images.pexels.com/photos/3520694/pexels-photo-3520694.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    transform: rotateY(280deg) translateZ(430px);
}

.imagem:nth-child(9) {
    background-image: url(https://images.pexels.com/photos/777001/pexels-photo-777001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    transform: rotateY(320deg) translateZ(430px);
}

.imagem:nth-child(10) {
    background-image: url(https://images.pexels.com/photos/117729/pexels-photo-117729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    transform: rotateY(360deg) translateZ(430px);
}

Footer {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
justify-content: center;
margin-top: 38%;

}